/* Layout start */
body {
  font-family: lato, sans-serif;
  font-size: 16px;
  color: #333;
}

img {
  max-width: 100%;
}

p {
  line-height: 1.5;
  margin: 30px 0;
}
p a {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 1px;
}
a {
  color: #404040;
}
a:hover,
a:focus {
  color: #0085a1;
}
a img:hover,
a img:focus {
  // cursor: zoom-in;
}
blockquote {
  color: #808080;
  font-style: italic;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}

.navbar {
  margin: 0px;
}
.navbar-custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  font-family: Roboto, sans-serif;
}
.navbar-custom .navbar-brand {
  font-weight: 800;
}
.navbar-custom .nav li a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
}
@media only screen and (min-width: 768px) {
  .navbar-custom {
    background: transparent;
    border-bottom: 1px solid transparent;
  }
  .navbar-custom .navbar-brand {
    color: white;
    padding: 20px;
  }
  .navbar-custom .navbar-brand:hover,
  .navbar-custom .navbar-brand:focus {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-custom .nav li a {
    color: white;
    padding: 20px;
  }
  .navbar-custom .nav li a:hover,
  .navbar-custom .nav li a:focus {
    color: rgba(255, 255, 255, 0.8);
  }
}
@media only screen and (min-width: 1170px) {
  .navbar-custom {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom.is-fixed .navbar-brand {
    color: #404040;
  }
  .navbar-custom.is-fixed .navbar-brand:hover,
  .navbar-custom.is-fixed .navbar-brand:focus {
    color: #0085a1;
  }
  .navbar-custom.is-fixed .nav li a {
    color: #404040;
  }
  .navbar-custom.is-fixed .nav li a:hover,
  .navbar-custom.is-fixed .nav li a:focus {
    color: #0085a1;
  }
  .navbar-custom.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
.locale_navbar_mobile {
  display: none;
}
@media only screen and (max-width: 768px) {
  .locale_navbar {
    display: none;
  }
  .locale_navbar_mobile {
    display: block;
    float: left;
    margin-left: 7px;
  }
  .locale_navbar_mobile li {
    float: left;
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.intro-header {
  background-color: #fff;
  background-image: asset-data-url('header_image.jpg');
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 100px 0 50px;
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading,
  .intro-header .post-heading,
  .intro-header .page-heading {
    padding: 150px 0;
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 80px;
  font-family: 'Great Vibes', serif;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.5;
  display: block;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
  text-transform: uppercase;
}
.intro-header a {
  color: #fff;
  border-bottom:1px solid #ccc;
}
.intro-header a:hover {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 100px;
  }
}
.intro-header .post-heading h1 {
  font-size: 35px;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}
.intro-header .post-heading .subheading {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 600;
}
.intro-header .post-heading .meta {
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}
.intro-header .post-heading .meta a {
  color: white;
}

@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  .container-90 {
    width:90%;
  }
}

.post-preview {
  padding-bottom:20px;
}
@media only screen and (max-width: 990px) {
  .post-preview {
    text-align: center;
  }
}
.post-preview > a {
  color: #333;
}
.post-preview h2 {
  font-size: 26px;
}
.post-preview > a:hover,
.post-preview > a:focus {
  text-decoration: none;
  color: #666;
  background: none;
}
.post-preview > a > .post-title {
  margin: 20px 0;
}
.post-preview > a > .post-subtitle {
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
}
.post-preview img {
  min-height: 135px;
  display: inline;
}
@media only screen and (min-width: 1200px) {
  .post-preview h3 {
    min-height: 52px;
  }
}

p.post-meta {
  color: #000;
  font-size: 14px;
  margin: 0 0 10px;
  text-transform: uppercase;
}
p.post-meta > a {
  text-decoration: none;
  color: #404040;
}
.post-meta > a:hover,
.post-meta > a:focus {
  color: #0085a1;
  text-decoration: underline;
}

.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
  margin-top: 20px;
}
.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ccc;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #0085a1;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #ccc;
}
.btn {
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
}
.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #0085a1;
  border: 1px solid #0085a1;
  color: white;
}
.pager {
  margin: 20px 0 0;
  float:left;
}
.pager li > a,
.pager li > span {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  display: table;
}

.pager li > a {
  width: 6em;
  height: 6em;
  line-height: 5em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
}

.pager li > a:hover,
.pager li > a:focus {
  color: white;
  background-color: #0085a1;
  border: 1px solid #0085a1;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #808080;
  background-color: #404040;
  cursor: not-allowed;
}

img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #0085a1;
}

/* -------------------------------------------------------------------------------- */
/*	Navigation/* -------------------------------------------------------------------------------- */
#wow-menu {
  padding:10px;
  transition:all 0.8s;
}
#wow-menu.navbar-default {
  background-color:#fff;
  border:0;
  // -webkit-box-shadow:0 2px 3px rgba(0,0,0,0.05);
  // -moz-box-shadow:0 2px 3px rgba(0,0,0,0.05);
  // box-shadow:0 2px 3px rgba(0,0,0,0.05);
}
#wow-menu a.navbar-brand {
  text-transform:uppercase;
  font-size:22px;
  color:#444;
  font-weight:800;
}
#wow-menu.navbar-default .navbar-nav>li>a {
  text-transform:uppercase;
  font-size:13px;
  font-weight:700;
}
.on {
  background-color:#fff !Important;
  padding:0 !important;
}
.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus {
  color:#25c5ed;
  background-color:transparent;
  font-weight:700;
}
.navbar-toggle {
  border-radius:0;
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
  background-color:#25c5ed;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
  background-color:#FFF;
}
.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover {
  background-color:transparent;
}
.navbar-nav>li>.dropdown-menu {
  border-radius:0;
  background:#fff;
  border:0;
  border-top:3px solid #25c5ed;
  font-size:13px;
  margin-top:10px;
}
.on .navbar-nav>li>.dropdown-menu {
  margin-top:0px;
}
.dropdown-menu>li>a {
  padding:10px 20px;
  color:#444;
  border-bottom:1px solid #eee;
}
.dropdown-menu>li:last-child>a {
  border-bottom:0;
}
.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover,.dropdown-menu>.active>a,.dropdown-menu>.active>a:focus,.dropdown-menu>.active>a:hover {
  color:#25c5ed;
  text-decoration:none;
  background-color: transparent;
}
.navbar-brand>img {
  margin-top:-5px;
  -webkit-transition:.4s;
  /* For Safari 3.1 to 6.0 */
  transition:.4s;
}
.on .navbar-brand>img {
  max-width:80%;
  margin-top:0;
}
li.checkoutmenu {
  position:relative;
  margin-top:-41px;
  float:right;
  list-style:none;
  border:#25c5ed 1px solid;
  padding:4px 10px;
  font-size:13px;
  font-weight:700;
  display: none
}
/*==============================================* STILL MENU...*===============================================*/
@media only screen and (min-width:768px) {
  li.checkoutmenu {
    display:block;
  }
  .navbar-right .dropdown-menu {
    right:0;
    left:-50%;
    width:200px;
  }
  .navbar-right {

  }
  .navbar-right .dropdown-menu ul {
    right:0;
    left:-50%;
    width:200px;
  }
  .nav .open>a,.nav .open>a:focus,.nav .open>a:hover {
    background-color:#fff;
    border-color:#eee;
  }
  .navbar-nav ul.sub-menu {
    list-style:none;
    padding:0;
    margin:0;
    position:absolute;
    z-index:99999;
    position:absolute;
    min-width:190px;
    max-width:100%;
    left:100%;
    top:-8px;
    box-shadow:1px 1px 30px rgba(0,0,0,0.06);
  }
  .navbar-nav li.menu-item-has-children {
    position:relative;
  }
  .navbar-nav li.menu-item-has-children ul.sub-menu {
    visibility:hidden;
    background-color:#fff;
    border-radius:0;
    border:0;
    border-top:3px solid #25c5ed;
  }
  .navbar-nav li.menu-item-has-children ul.sub-menu li {
    border-bottom:1px solid #eee;
  }
  .navbar-nav li.menu-item-has-children ul.sub-menu li:last-child {
    border-bottom:0;
  }
  .navbar-nav li.menu-item-has-children ul.sub-menu li a {
    display:block;
    font-size:13px;
    -webkit-transition:none;
    -moz-transition:none;
    -o-transition:none;
    -ms-transition:none;
    transition:none;
    color:inherit;
    padding:10px 20px;
    margin:0 15px;
    border-bottom:0;
  }
  .navbar-nav li.menu-item-has-children ul.sub-menu li a:hover {
    color:#00cfef;
  }
  .navbar-nav li.menu-item-has-children ul.sub-menu li:last-child a {
    border-bottom:0px;
  }
  .navbar-nav li.menu-item-has-children:hover ul.sub-menu {
    visibility:visible;
  }
  .navbar-nav ul.sub-menu ul.sub-menu {
    list-style:none;
    padding:0;
    margin:0;
    position:absolute;
    z-index:99999;
    left:100%;
    margin-top:-1px;
  }
  .navbar-nav ul.sub-menu li.menu-item-has-children {
    position:relative;
  }
  .navbar-nav ul.sub-menu li.menu-item-has-children ul.sub-menu {
    visibility:hidden;
    background-color:#fff;
    border-top:3px solid;
    border-color:#00cfef;
  }
  .navbar-nav ul.sub-menu li.menu-item-has-children ul.sub-menu li a {
    display:block;
    font-size:13px;
    -webkit-transition:none;
    -moz-transition:none;
    -o-transition:none;
    -ms-transition:none;
    transition:none;
    color:inherit;
    padding:7px 0;
    margin:0 15px;
    border-bottom:1px solid #ececec;
  }
  .navbar-nav ul.sub-menu li.menu-item-has-children ul.sub-menu li:last-child a {
    border-bottom:0px;
  }
  .navbar-nav ul.sub-menu li.menu-item-has-children:hover ul.sub-menu {
    visibility:visible;
    position:absolute;
    top:0px;
    right: 0px;
  }
  .dropdown-menu>li a.dropdown-toggle:after {
    content: "\f0da";
    font-family:FontAwesome;
    margin-left:7px;
  }
}

.navbar-nav a.active {
  color: #25c5ed !important;
  background-color: transparent;
  font-weight: 700;
}

/* About us */
.teaser_description {
  text-align: center;
}
.teaser_description h3 {
  text-transform: uppercase;
  color: #777;
  font-size: 28px;
  line-height: 30px;
}

/* Contact Section */
label {
  float: left;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}
#section-contact {padding-bottom: 40px;}
#section-contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

#section-contact .form-control:focus {
  border-color: inherit;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}

.small_heading {
  margin-top: 0px;
}

#section-contact .small_heading {
  color: #9a9a9a;
}

#section-contact .small_heading span {
  display: block;
  margin-top: 10px;
}

#section-contact .small_heading a {
  color: #25c5ed;
  text-decoration: none;
}

#section-contact .small_heading a:hover {
  color: #0085a1;
  text-decoration: underline;
}

#section-contact .small_heading .write_us_through_form {
  margin-top: 20px;
}


button.btn.custom-btn.btn-default {
  float: none;
  background: #25c5ed;
  border: 0;
  border-radius: 0;
  padding: 10px 40px;
  color: #ffffff;
  text-transform: uppercase;
}

button.btn.custom-btn.btn-default:hover {
  background: #e90037;
}

.btn:active, .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: none;
  outline-offset: none;
}

/* heading
====================================================*/
@media (min-width: 768px) {
  .tallykit-shortcode-heading{ display: block; margin: 60px 0 60px 0; }
}

@media (max-width: 768px) {
  .tallykit-shortcode-heading{ display: block; margin: 0px 0 40px 0; }
  .works_tallykit, .about_tallykit {margin: 20px 0 40px 0;}
  .prices_tallykit, .contacts_tallykit {margin: 40px 0 40px 0;}
  .articles_tallykit {margin: -20px 0 40px 0;}
}


.tallykit-shortcode-heading .tk_title{
  color: #777;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 20px;
  -webkit-animation: moveDown 0.6s ease-in-out 0.2s backwards;
  -moz-animation: moveDown 0.6s ease-in-out 0.2s backwards;
  -o-animation: moveDown 0.6s ease-in-out 0.2s backwards;
  -ms-animation: moveDown 0.6s ease-in-out 0.2s backwards;
  animation: moveDown 0.6s ease-in-out 0.2s backwards;
}
.tallykit-shortcode-heading.style-1 .tk_subtitle{font-size: 17px; opacity: 0.7; line-height: 24px; margin-bottom: 5px; display:block; text-align:center; }
.tallykit-shortcode-heading.style-1 .tk_title{ text-transform: uppercase; font-weight: bold; display:block; text-align:center; }
.tallykit-shortcode-heading.style-1 .tk_title{ text-align:center; opacity: 0.9; }
.tallykit-shortcode-heading.style-1 .tk_bottomLine {
  width: 100%;
  height: 20px;
  border-top: 0px solid;
  background-image: asset-data-url('title_line.png');
  background-position: center top;
  background-repeat: no-repeat;
  display: block;
}
.tallykit-shortcode-heading.style-2 {margin-bottom: 70px;text-align: center;display: block;}
.tallykit-shortcode-heading.style-2 h2.tk_title{
  font-weight: 700;
  font-style: normal;
  color: #000000;
  font-size: 30px;
  opacity: 1;
  border-top: 1px solid #eeeeee;
  margin-top: 2px;
  display: inline-block;
  letter-spacing: 2px;
  margin: 0;
  padding: 0 10%;
}
.tallykit-shortcode-heading.style-2 h2.tk_title:before {display: block;content: '';border-top: 10px solid #eee;margin-bottom: 20px;border-top: 10px solid #eeeeee;margin-left: -4px;}
.tallykit-shortcode-row .tk-shortcode-row-inner{ max-width:960px;  }

/**
* Pricing
*/
.pricing__items {
  margin-top: 20px;
}
.pricing__items > div {
  position: relative;
}
.pricing__items > div::after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-image: -webkit-linear-gradient(left, white, #eeeeee 50%, white);
  background-image: -o-linear-gradient(left, white, #eeeeee 50%, white);
  background-image: linear-gradient(to right, white, #eeeeee 50%, white);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=1);
  content: "";
}
.pricing__items > div:last-child::after {
  display: none;
}
@media (min-width: 768px) {
  .pricing__items > div {
    position: relative;
  }
  .pricing__items > div::after {
    display: block;
    position: absolute;
    top: 0;
    bottom: auto;
    right: 0;
    left: auto;
    width: 1px;
    height: 100%;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    background-image: -webkit-linear-gradient(white, #eeeeee 50%, white);
    background-image: -o-linear-gradient(white, #eeeeee 50%, white);
    background-image: linear-gradient(white, #eeeeee 50%, white);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
    content: "";
  }
  .pricing-item__summary {
    min-height: 154px;
  }
}
.pricing__item {
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.pricing__item:hover > .btn-default {
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .pricing-item {
    padding-bottom: 0;
  }
}
@media (min-width: 992px) {
  .pricing__item {
    padding: 0 40px;
  }
}
.pricing__item_one {
  color: #f67280;
}
.pricing__item_one:hover > .btn-default {
  color: #f67280;
  border-color: #f67280;
}
.pricing__item_two {
  color: #c06c84;
}
.pricing__item_two:hover > .btn-default {
  color: #c06c84;
  border-color: #c06c84;
}
.pricing__item_three {
  color: #6c5b7b;
}
.pricing__item_three:hover > .btn-default {
  color: #6c5b7b;
  border-color: #6c5b7b;
}
.pricing__item_four {
  color: #355c7d;
}
.pricing__item_four:hover > .btn-default {
  color: #355c7d;
  border-color: #355c7d;
}
.pricing-item__title {
  margin-bottom: 20px;
  font-weight: 700;
  color: #565656;
}
.pricing-item__price {
  padding-bottom: 5px;
  margin-bottom: 25px;
  border-width: 0 0 1px;
  border-style: solid;
  font-size: 26px;
  font-weight: 600;
}
.pricing-item__price > span {
  font-size: 13px;
}
.pricing-item__summary {
  margin-bottom: 40px;
  color: #9a9a9a;
}

.pricing__items .btn-default {
  border-radius: 19.5px;
  border: 2px solid #9a9a9a;
  background: transparent;
  color: #9a9a9a;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/*
isotope portfolio
*/
#isotope_filters {
  text-align: center;
  margin: 30px 0 30px;
}

#isotope_filters a {
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 15px;
  position: relative;
  color: #000000;
  font-size: 15px;
}

.gallery-item {
  padding: 10px;
  overflow: hidden;
  position: relative;
  max-width: 100%;
}

.gallery-item-description {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 35px;
  text-align: center;
}

@media (max-width: 400px) {
  .gallery-item-description h3 {
    font-size: 14px;
  }

  .gallery-item-description p {
    font-size: 12px;
  }
}
.gallery-item-description h3 {
  font-weight: bold;
}

.gallery-item img {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.gallery-image-links a {
  width: 50px;
  height: 50px;
  z-index: 3;
  display: inline-block;
  line-height: 50px;
  border: 1px solid #e4e4e4;
  color: #7f7f7f;
  font-size: 22px;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  bottom: -60px;
  right: 11px;
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  -moz-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  -ms-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  -o-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}

.gallery-image-links a:hover {
  background: #00d9ec;
  color: #00d9ec;
  border: none;
}

.gallery-item-description a {
  color: #00d9ec;
}

.gallery-item-description a:hover {
  color: #00d9ec;
  background-color: none;
  border-color: #00d9ec;
}

.gallery-image-links a.p-link {
  right: 71px;
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}

.gallery-item:hover .gallery-image-links a {
  bottom: 10px;
}

.project-details h4 {
  margin-top: 0;
}
.project-details p span {
  font-weight: 700;
}
.project-details p + p {
  border-top: 1px solid #e4e4e4;
  padding-top: 15px;
}
.project-details p:last-child {
  border: none;
}

#isotope_filters a:before {
  background: #00d9ec;
  content: "";
  display: block;
  height: 2px;
  opacity: 0;
  position: absolute;
  top: 15px;
  transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
  -webkit-transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
  -moz-transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
  -o-transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
  -ms-transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
  width: 100%;
  left: 0;
  border-radius: 50%;
}

#isotope_filters a:hover:before,
#isotope_filters a.selected:before {
  opacity: 1;
  transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -webkit-transform: translateY(20px);
  -o-transform: translateY(20px);
  transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
  -webkit-transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
  -moz-transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
  -o-transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
  -ms-transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
}

@media (max-width: 389px) {
  #isotope_filters a {
    margin: 0 5px;
  }
}
/*
isotope animations
*/
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  -ms-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  transition-duration: 0.6s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/*
portfolio
*/
.gallery-item .overlay a.folio-detail, .gallery-item .overlay {
  opacity: 0;
  transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -o-transform: scale(0.5);
}

.gallery-item .overlay {
  background-color: #00d9ec;
  bottom: 0;
  color: #ffffff;
  height: 100%;
  left: 0;
  padding: 30px;
  position: absolute;
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  width: 100%;
}

.gallery-item:hover .overlay a.folio-detail, .gallery-item:hover .overlay {
  opacity: 0.8;
  transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
}

.gallery-item:hover img {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.gallery-item .overlay .white-box:before {
  background-color: #ffffff;
  content: "";
  height: 80%;
  left: 10%;
  position: absolute;
  top: 10%;
  width: 80%;
}

.gallery-item:hover .overlay .white-box:before {
  opacity: 0.5;
}

#portfolio .overlay .folio-detail .fa {
  font-size: 40px;
}

#portfolio .gallery-item:hover .overlay .folio-detail .fa:hover {
  opacity: 1;
}

#portfolio .overlay .folio-detail .fa:hover {
  color: #000000;
}

#portfolio .overlay i {
  display: block;
  color: #ffffff;
}

#portfolio .overlay a.folio-detail {
  position: absolute;
  left: 0;
  right: 0;
  font-size: 60px;
  top: 42%;
  transition: all 0.3s ease-out 0.1s;
}

#portfolio .overlay p {
  margin-left: 15px;
  margin-top: 70px;
  width: 90%;
  color: #000000;
  font-weight: bold;
}

#portfolio .overlay h5 {
  font-size: 25px;
  font-weight: bold;
}

@media (max-width: 1199px) {
  #portfolio .overlay .folio-detail .fa {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  #portfolio .overlay .folio-detail .fa {
    font-size: 40px;
  }
}
/* Layout end */

/* Back to top start */

.cd-top {
  z-index: 148;
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #2d2c2c asset-data-url('cd-top-arrow.svg') no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: .5;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.cd-top:hover {
  background-color: #2d2c2c;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .cd-top {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 50px;
    width: 50px;
    right: 10px;
    bottom: 40px;
  }
}

/* Back to top end */

/* To contacts start */

.cd-top-envelope {
  z-index: 148;
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #2d2c2c asset-data-url('cd-envelope.png') no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top-envelope.cd-is-visible, .cd-top-envelope.cd-fade-out, .cd-top-envelope:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top-envelope.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: .5;
}
.cd-top-envelope.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.cd-top-envelope:hover {
  background-color: #2d2c2c;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top-envelope {
    left: 20px;
    bottom: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .cd-top-envelope {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top-envelope {
    height: 50px;
    width: 50px;
    left: 10px;
    bottom: 40px;
  }
}

/* To contacts end */

/* Articles show page */

.article_container {
  max-width: 900px;
  padding-top: 30px;
}
.article_container img {
  display: block;
  max-width: 100%;
  height: auto !important;
  margin-top: 30px;
}

@media only screen and (max-width: 768px) {
  .article_container {
    padding: 30px 0px 0;
  }
}

.article_tags_list a {
  color: #25c5ed;
}

/* Footer */
.socials_list i {
  font-size: 46px;
}
footer {
  padding: 35px 0 50px;
}
footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}
.footer_made_by {
  font-size: 14px;
  margin-top: 20px;
  color: #787878;
  text-align: center;
}
.footer_made_by a {
  text-decoration: none;
  color: #000;
}
.footer_made_by a span {
  color: #37c430;
}
