<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      We have received a new message:
    </p>
    <p>
      <b>Sender name:</b> <%= @message.name %>
      <br>
      <b>Sender email:</b> <%= @message.email %>
    </p>
    <b>Message:</b>
    <blockquote>
      <p>
        <%= raw @message.message %>
      </p>
    </blockquote>
  </body>
</html>
